<div #myCarousel id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/taus5tit/image/upload/v1786657008/Bosch_Slider_odpjrb.png" 
           class="d-block w-100 slider-img" alt="Slide 1">
    </div>

    <div class="carousel-item">
      <img src="https://res.cloudinary.com/taus5tit/image/upload/v1786657251/Ingco_Slider_fu5xco.png" 
           class="d-block w-100 slider-img" alt="Slide 2">
    </div>

    <div class="carousel-item">
      <img src="https://res.cloudinary.com/taus5tit/image/upload/v1786657305/Astonic_Slide_White_1_lbpmi2.png" 
           class="d-block w-100 slider-img" alt="Slide 3">
    </div>

    <div class="carousel-item">
      <img src="https://res.cloudinary.com/taus5tit/image/upload/v1786657272/Karcher_Slider_hgniq6.png" 
           class="d-block w-100 slider-img" alt="Slide 4">
    </div>

    <div class="carousel-item">
      <img src="https://res.cloudinary.com/taus5tit/image/upload/v1786657261/Total_Slider_jeered.png" 
           class="d-block w-100 slider-img" alt="Slide 5">
    </div>

  </div>